body {
  margin: 0px;
  padding: 0px;
}
.piano {
  background-image: url('./../assets/background-piano/v1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 58vh;
  display: flex;
}
.frame-5 {
  position: relative;
  display: flex;
  height: 300px;
  width: calc(100% / 5);
}
.frame-5 > div {
  background-color: #fff;
  border: 2px solid rgb(53, 1, 1);
  flex-grow: 1;
  border-radius: 5px;
  margin-left: 1px;
}
.frame-5 > div > span {
  position: relative;
  top: 80%;
  left: 20%;
  border-radius: 50%;
  padding: 0px 5px;
  font-size: 16px;
  font-weight: bold;
}
.frame-5 > div:hover {
  background-color: rgb(244, 244, 255);
  transition-duration: 0.2s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.black-key-1 {
  left: 10%;
}
.black-key-2 {
  left: 24%;
}
.black-key-3 {
  left: 38%;
}
.black-key-3 {
  left: 52%;
}
.black-key-4 {
  left: 66%;
}
.black-key-5 {
  left: 80%;
}

[class*='black-key'] {
  background-image: url('./../assets/background-black-key/v1.png');
  background-size: 100% 100%;
  position: absolute;
  color: white;
  width: calc(100% / 10);
  height: 180px;
  box-shadow: -5px -10px 5px #322d3377;
}
[class*='black-key'] > span {
  border: 1px solid rgb(255, 255, 255);
  font-size: 13px !important;
  left: 15% !important;
  top: 78% !important;
}
